@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes appear {
  from {
    opacity: 0.5;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

:root {
  --primary-color: 100, 100, 100;
  --text-color: 100, 100, 100;

  --main-font: 'DM Sans', sans-serif;
}

.font-container {
  font-family: var(--main-font);
  font-optical-sizing: auto;
  font-style: normal;
}

#block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  backface-visibility: hidden;
  perspective: 1000px;
}

#block:hover,
#block:hover h1,
#block:hover p {
  border-color: purple;
}

@media (max-width: 768px) {
  #menu {
    top: 0;
  }
  body {
    padding: 6px;
  }
}

.btn {
  font-family: var(--main-font);
  font-size: 18px;
  padding: 12px 32px;
  cursor: pointer;
  border-radius: 4px;
  border-radius: 10px;
}

.btn,
.btn:hover {
  transition: all 0.3s ease;
}
.btn-gradient-border {
  color: rgba(var(--text-color));
  border: 2px double transparent;

  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.btn-glow:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 15px 20px 0px;
}
.pyramid-loader {
  width: 300px;
  height: 300px;
  display: block;
  transform: rotateX(-20deg);
}

.wrapper {
  width: 100%;
  height: 100%;
  animation: spin 4s linear infinite;
}

.pyramid-loader,
.wrapper {
  transform-style: preserve-3d;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}

.pyramid-loader .wrapper .side {
  width: 200px;
  height: 200px;
  /* you can choose any gradient or color you want */
  /* background: radial-gradient( #2F2585 10%, #F028FD 70%, #2BDEAC 120%); */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1,
.pyramid-loader .wrapper .side2 {
  transform: rotateZ(-30deg) rotateY(90deg);
}

.pyramid-loader .wrapper .side3,
.pyramid-loader .wrapper .side4 {
  transform: rotateX(30deg);
}

.pyramid-loader .wrapper .shadow {
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(90deg) translateZ(-40px);
  filter: blur(12px);
}

.pyramid-loader .wrapper .side1,
.pyramid-loader .wrapper .side2,
.pyramid-loader .wrapper .side3,
.pyramid-loader .wrapper .side4,
.pyramid-loader .wrapper .shadow {
  background: white;
}

#typed {
  font-size: 25px;
}
/* Cursor */
.typed-cursor {
  font-size: 30px;
  color: gray;
}

/* === removing default button style ===*/
.button1,
.button2 {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button1,
.button2 {
  --border-right: 4px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #fff;
  --fs-size: 2rem;
  line-height: 2rem;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: var(--main-font);
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.button2 {
  --text-stroke-color: rgba(0, 0, 0, 0.6);
}

/* this is the text, when you hover on button */
.hover-text1,
.hover-text2 {
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button1:hover .hover-text1,
.button2:hover .hover-text2 {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* positions */
.button1,
.button2,
.pyramid-loader,
.wrapper {
  position: relative;
}

.pyramid-loader .wrapper .side,
.pyramid-loader .wrapper .shadow,
.hover-text1,
.hover-text2 {
  position: absolute;
}
